
<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>DARE-Business Software</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
          FEATURES
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
          TRYOUT
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          CONTACT
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">or check out the following</span>
        <br>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="#">
           <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Tech talk
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="#">
           <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Changelog
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="#">
           <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Features to come
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="#">
           <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Some blog post
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>{{ 'dare.about.get-started' | translate }}</h2>
        <code>download setup for your system</code><br>
        <code>install the software</code><br>
        <code>start working with dare-software</code>
      </div>
    </div>
  </div>
</div>

